/*Подключение одного css файла в другой: @import "путь_к_css_файлу";
Данная директива должна быть указана вверху файла*/

/*
Синтаксис:

селектор {
    имя_свойства: значение свойства;
    имя_свойства2: значение свойства;
}

объединение стилей (стили применятся ко всем селекторам перечисленнным через запятую):
селектор1,
селектор2
{
    имя_свойства: значение свойства;
    имя_свойства2: значение свойства;
}

вложенные селекторы:
дочерние селекторы (стили применятся к селектор2, который непосредственно вложен в селектор1)
селектор1 > селектор2 {
    имя_свойства: значение свойства;
}
вложенность (стили применятся к селектор3, который находится в селектор2 (при этом селектор2 должен находится в селектор1))
селектор1 селектор2 селектор3 {
    имя_свойства: значение свойства;
}
*/

/*Типы селекторов:*/
/*имя_тега - соответствует имени html тега, например*/
p { /* стили применятся ко всем тегам p*/
    color: #333333; /* цвет шрифта */
}
/*#идентификатор - соответствует значению атрибута id, например*/
#data { /* стили применятся к элементу с атрибутом id="data" */
    border: 1px solid #333333; /* добавление сплошной рамки шириной 1px*/
}
/*.имя-класса - соответствует значению атрибута class. У разных html элеметом могут быть одинаковые классы, например*/
.text-center { /* стили применятся ко всем элементам с атрибутом class="text-center" */
    text-align: center; /* выравнивание текста по центру */
}
/*селектор[атрибут="значение"] - соответствует атрибуту с указанным значением, например*/
input[type="text"] {
    background: #4524; /* цвет фона - стили применятся ко всем тегам input с абрибутом type="text" */
}

/*Наследование стилей
Наследованием называется перенос правил форматирования для элементов, находящихся внутри других.
Такие элементы являются дочерними, и они наследуют некоторые стилевые свойства своих родителей, внутри которых располагаются.*/
/*all: initial | inherit | unset;
unset - если свойство наследуется, то как у родителя, если нет — то по умолчанию
inherit- как у родителя
initial - по умолчанию*/

/*Специфичность - способ, с помощью которого браузеры определяют, какие значения свойств CSS  будут применены*/
/*
Расчет специфичности
id    0 1 0 0
class 0 0 1 0
tag name  0 0 0 1
встроенный стиль 1 0 0 0
*/

селектор {
    свойство: значение !important; это объявление получает наивысший приоритет среди всех прочих объявлений
}

/* Некоторые стили */
селектор {
    font-size: размер;  /* размер шрифта */
    color: #c0c0c0 | rgb(192,192,192) | rgba(192,192,192, 0.4); /* цвет шрифта */
    font-weight: bold|bolder|lighter|normal|100|200|300|400|500|600|700|800|900; /* начертание (насыщенность) */

    text-align: center | justify | left | right | start | end; /* горизотнальное выравнивание */

    /* оформление текста в виде его подчеркивания, перечеркивания, линии над текстом и мигания */
    text-decoration: blink | line-through | overline | underline | none | inherit;

    height: размер; /* высота */
    width: размер; /* ширина */
}


/* Отступы - свойство margin*/
селектор {
    margin-top: 10px; /* отступ сверху */
    margin-right: 15px; /* отступ справа */
    margin-bottom: 12px; /* отступ снизу */
    margin-left: 20px; /* отступ слева */

    margin: 15px; /* c 4х сторон */
    margin: 15px 30px; /* top-bottom right-left */
    margin: 15px 20px 10px; /* top right-left bottom */
    margin: 30px 25px 10px 35px; /* top right bottom left */
}
/* Поля - свойство padding */
селектор {
    padding-top: 10px; /* поле сверху */
    padding-right: 15px; /* поле справа */
    padding-bottom: 12px; /* поле снизу */
    padding-left: 20px; /* поле слева */

    padding: 15px; /* c 4х сторон */
    padding: 15px 30px; /* top-bottom right-left */
    padding: 15px 20px 10px; /* top right-left bottom */
    padding: 30px 25px 10px 35px; /* top right bottom left */
}

/* Рамки - свойство border*/
селектор {
    /* border: ширина тип рамки цвет; */
    border: 2px dashed green; /* c 4х сторон */
    border-top:1px solid black; /* рамка сверху */
    border-right: 1px solid orange; /* рамка справа */
    border-bottom: 1px solid orange; /* рамка снизу */
    border-left: 1px solid orange; /* рамка слева */

    /* скругление углов */
    border-radius: 20px; /* c 4х углов */
    /* отдельные углы */
    border-top-left-radius: 30px; /* верхний левый угол */
    border-top-right-radius: 10px; /* верхний правый угол */
    border-bottom-left-radius: 20px; /* нижний левый угол */
    border-bottom-right-radius: 40px; /* нижний правый угол */
}

/*Отображение блочных и строчных элементов*/
/* Свойство display - определяет, как элемент должен быть показан в документе */
селектор {
    display: block; /* элемент отображается, как блочный */
    display: inline; /* элемент отображается, как строчный */
    display: inline-block; /* элемент отображается, как блочно-строчный, элементы выстраиваются друг за другом, но можно задавать размеры */
}



