/*Псевдоэлементы - это ключевое слово, добавляемое к селектору, которое позволяет стилизовать определённую часть выбранного элемента*/
селектор::псевдо-элемент {
    свойство: значение;
}
p::first-letter { /* первая буква элемента <p> */
    color: #456404;
    text-transform: uppercase;
}

p::first-line { /* первая строка элемента <p> */
    color: red;
}

/*selection - позволяет применить стили к части документа, который был выделен пользователем (например, с помощью мыши)*/
/*Разрешённые для selection свойства*/
/*color
background-color
cursor
caret-color
outline и его длинные записи
text-decoration и связанные свойства
text-emphasis-color
text-shadow*/
::selection {
    color: gold;
    background: red;
}

/* выделенный в параграфе текст белым на красном фоне */
p::-moz-selection {
    color: white;
    background: red;
}

/*before псевдоэлемент, который является первым потомком выбранного элемента.
По умолчанию inline.*/
p::before {
    content: "♥";
    color: gold;
}

/*after псевдоэлемент, который является последним потомком выбранного элемента.
По умолчанию inline.*/
p::after {
    content: "♥";
    color: gold;
}

/*Псевдокласс CSS — это ключевое слово, добавленное к селектору, которое определяет его особое состояние.
Например, нажатая ссылка */
селектор:псевдо-класс {
    свойство: значение;
}
/* Для ссылок: */
селектор:visited - ссылка, по которой был осуществлен переход
селектор:link - ссылка, которая ещё не была посещена

    /* Для ссылок и других элементов: */
селектор:active - элемент, активировани нажатием мыши, tab и пр
селектор:hover - срабатывает, когда пользователь наводит на элемент мышью!

    /* Для элементов формы */
селектор:focus - применяется, когда элемент (такой как input формы) получает фокус

                                                                    селектор:checked - <input type="radio">, <input type="checkbox"> <option> внутри <select>, которые выбраны
селектор: default - элемент формы, установленный по умолчанию для группы связаных элементов (radio или checkbox)

селектор:disabled - элемент, с установленным атрибутом disabled
селектор:enabled - элемент, без атрибута disabled

селектор:read-only - элементы, недоступные для редактирования пользователем (атрибут readonly)
селектор:read-write - элементы, доступные для редактирования пользователем (без атрибута readonly)

селектор:optional - элементы, для которых не был установлен атрибут required
селектор:required - элементы, для которых был установлен атрибут required

селектор:valid - поля, которые прошли html валидацию
селектор:invalid  - поля, которые не прошли html валидацию

селектор:in-range - элементы, значение которых соответствует указанному для них диапазону ограничений (например, <input type="number" min="1" max="10">)
селектор:out-of-range - элементы, значение которых не соответствует указанному для них диапазону ограничений (например, <input type="number" min="1" max="10">)

/* Дочерние элементы */
селектор :first-child - первый дочерний элемент
                        селектор :last-child - последний дочерний элемент
                                               селектор :nth-child(число) - например, :nth-child(2) - дочерний элемент под номером 2
селектор :nth-child(odd) - все нечетные дочерние элементы
                           селектор :nth-child(even) - все четные дочерние элементы

                                                           /* Стилизация элементов, к которым был осуществлен переход по гиперссылке <a>*/
                                                       селектор:target - позволяет связать гиперссылку <a> с любым элементом на странице