/*в html прописать <meta name="viewport" content="width=device-width, initial-scale=1">*/

/* используемы единицы измерения */
/*px (единицы фиксированного размера) - один пиксель равняется одной точке на компьютерном экране. Проблема заключается в том,
что пиксели нельзя увеличить для удобства читателей со слабым зрением или уменьшить для удобства чтения на мобильных устройствах

% (определяются по текущему контексту) - применяется в тех случаях, когда надо изменить значение относительно родительского элемента

em (определяются по текущему контексту) соответствует значению свойства font-size элемента.
Если это значение не задано, тогда берётся значение font-size родителя / размер шрифта, заданного браузером (приблизительно 16px)
Например, font-size: 20px;  padding: 2em; значит, padding = 20 * 2 = 40px

rem (определяются по текущему контексту) соответствует значению свойства font-size корневого элемента <html>
Если rem добавляется непосредственно к font-size для <html> или стиль для <html> не задан,
тогда 1rem принимается равным исходному значению font-size (приблизительно 16px)

vh - эквивалентно 1% высоты окна браузера

vw - эквивалентно 1% ширины окна браузера

pt (единицы фиксированного размера) 1 pt = 1/72 дюйма (2,54 см)*/

/* некоторые стили */
/*указывает, как делать перенос строк внутри слов, которые не помещаются по ширине в заданную область*/
селектор {
    word-break: normal|break-all|keep-all;
    normal - используются правила переноса строк по умолчанию. Как правило, в этом случае строки не переносятся или переносятся в тех местах,
    где явно задан перенос
    break-all - перенос строк добавляется автоматически, чтобы слово поместилось в заданную ширину блока.
    Значение не работает для текста на китайском, корейском или японском языке.
    keep-all - не разрешает перенос строк в словах на китайском, корейском или японском языке. Для остальных языков действует как normal.
}
/*адаптивные изображения*/
img {
    width: 100%;
    height: auto;
}
/*скрытие элементов*/
селектор {
    display: none;
    visibility: hidden;
}
/*указывает, как поступить с контекстом, который не умещается в заданную область (например, текст)*/
селектор {
    overflow: hidden;
    overflow: scroll;
}

/*контрольные точки*/
@media screen
and (min-width: 771px)
and (max-width: 960px){
    стили для заданных размеров экрана
}